{% if not connected %}
<div class="small dimmed">
    Not connected
</div>
{% elif playing %}
<div class="playing small">
    {% if state.result.item.thumbnail %}
    <img class="album-art" src="{{formatThumbnail(state.result.item.thumbnail)}}"/>
    {% else %}
    <div class="album-art dimmed">
        <span class="fa fa-compact-disc"></span>
    </div>
    {% endif %}
    <div class="media-info">
        <ul>
            <li><span class="fa fa-music"></span><span class="bright">{{state.result.item.title}}</span></li>
            <li><span class="fa fa-user dimmed"></span>{{state.result.item.artist[0]}}</li>
            <li class="xsmall"><span class="fa fa-compact-disc dimmed"></span>{{state.result.item.album}}</li>
            <li class="xsmall"><span class="fa fa-clock dimmed"></span>{{formatTime(state.result.item.duration)}}</li>
        </ul>
    </div>
</div>
{% else %}
  {% if not hideWhenPaused %}
    <div class="paused small">
        <span class="fa fa-pause dimmed"></span><span>{{state.result.item.paused.player}}</span>
    </div>
  {% endif %}
{% endif %}
