.MMM-Kodi-WebSocket ul {
    list-style: none;
    padding: 0.5em;
    margin: 0;
}

.MMM-Kodi-WebSocket li span {
    padding-right : 0.5em;
}

.MMM-Kodi-WebSocket .playing {
    clear : both;
    overflow: hidden;
}

.MMM-Kodi-WebSocket .paused span {
    margin: 0.25em;
}


.MMM-Kodi-WebSocket .album-art, .MMM-Kodi-WebSocket .media-info {
    float: left;
}

.MMM-Kodi-WebSocket .album-art {
    width : 125px;
    height : 125px;
    /* border-radius: 125px; */
    border: 2px solid gray;
}

.MMM-Kodi-WebSocket .album-art span {
    font-size: 125px;
}

.MMM-Kodi-WebSocket .media-info .fa {
    width : 20px;
    text-align: center;
}
